@model eFruitWorld.Models.ShippingDetailsModel

@{
    ViewBag.Title = "Checkout";
}
<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("CompleteCheckout", "Checkout"))
{
    @Html.LabelFor(model => model.Name, "Name");
    <br />
    @Html.TextBoxFor(model => model.Name);
    @Html.ValidationMessageFor(model => model.Name);
    <br />
    @Html.LabelFor(model => model.Address, "Address");
    <br />
    @Html.TextBoxFor(model => model.Address);
    @Html.ValidationMessageFor(model => model.Address);
    <br />
    @Html.LabelFor(model => model.City, "City");
    <br />
    @Html.TextBoxFor(model => model.City);
    @Html.ValidationMessageFor(model => model.City);
    <br />
    @Html.LabelFor(model => model.Country, "Country");
    <br />
    @Html.TextBoxFor(model => model.Country);
    @Html.ValidationMessageFor(model => model.Country);
    <br />
    @Html.LabelFor(model => model.CreditCard, "Credit Card Number");
    <br />
    @Html.TextBoxFor(model => model.CreditCard);
    @Html.ValidationMessageFor(model => model.CreditCard);
    <br />
    <button type="submit" value="CompleteCheckout">Checkout</button>

}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}